$colPrimary-Black: #323232;
$colPrimary-Blue: #0095FF;
$colPrimary-Silver: #AFAFAF;
$colPrimary-White: #FFFFFF;

$colSecondary-DarkBlack: #000000;
$colSecondary-DarkBlue: #0065AD;
$colSecondary-Mercury: #E1E1E1;
$colSecondary-Albaster: #FAFAFA;