@use "colors" as *;
@use "mixins" as *;
@use "variables" as *;
@use "functions" as *;

@font-face {
  font-family: 'Avenir';
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("openType");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir';
  src: url("../../assets/Font//AvenirNextLTPro-Demi.otf") format("openType");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir';
  src: url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("openType");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


.font-PageHeader {
  font-size: toRem(24);
  line-height: toRem(32);
  font-family: "Avenir";
  font-weight: 700;
  color: $colPrimary-Black;
  @include displayTablet{
    font-size: toRem(33);
    line-height: toRem(44);
  }
  @include displayDesktop{
    font-size: toRem(33);
    line-height: toRem(44);
  }
}

.font-Header {
  font-size: toRem(12);
  line-height: toRem(20);
  font-family: "Avenir";
  font-weight: 700;
  //color:blue;
  color: $colPrimary-Black;
  @include displayTablet{
    font-size: toRem(12);
    line-height: toRem(20);
  }
  @include displayDesktop{
    font-size: toRem(12);
    line-height: toRem(20);
  }
}

.font-Subheader {
  font-size: tomRem(13);
  line-height: toRem(18);
  font-family: "Avenir";
  font-weight: 700;
  color: $colPrimary-Black;
  //color: orange;
  @include displayTablet{
    font-size: toRem(14);
    line-height: toRem(22);
  }
  @include displayDesktop{
    font-size: toRem(14);
    line-height: toRem(22);
  }
}

.font-WidgetTitle {
  font-size: toRem(13);
  line-height: toRem(18);
  font-family: "Avenir";
  font-weight: 600;
  color: $colPrimary-Black;
  //color: red;
  @include displayTablet{
    font-size: toRem(14);
    line-height: toRem(22);
  }
  @include displayDesktop{
    font-size: toRem(14);
    line-height: toRem(22);
  }
}

.font-Body {
  font-size: toRem(13);
  line-height: toRem(18);
  font-family: "Avenir";
  font-weight: 400;
  color: $colPrimary-Black;
  //color: green;
  @include displayTablet{
    font-size: toRem(14);
    line-height: toRem(22);
  }
  @include displayDesktop{
    font-size: toRem(14);
    line-height: toRem(22);
  }
}

.font-Label {
  font-size: toRem(12);
  line-height: toRem(20);
  font-family: "Avenir";
  font-weight: 600;
  color: $colPrimary-Black;
  @include displayTablet{
    font-size: toRem(12);
    line-height: toRem(20);
  }
  @include displayDesktop{
    font-size: toRem(12);
    line-height: toRem(20);
  }
}

.font-Button {
  font-size: toRem(12);
  line-height: toRem(20);
  font-family: "Avenir";
  font-weight: 600;
  color: $colPrimary-White;
  @include displayTablet{
    font-size: toRem(12);
    line-height: toRem(20);
  }
  @include displayDesktop{
    font-size: toRem(12);
    line-height: toRem(20);
  }
}

.font-Faded {
  color: $colPrimary-Silver;
}
