@use "colors" as *;
@use "mixins" as *;

@font-face {
  font-family: 'Avenir';
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("openType");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir';
  src: url("../../assets/Font//AvenirNextLTPro-Demi.otf") format("openType");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir';
  src: url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("openType");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


.font-PageHeader {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "Avenir";
  font-weight: 700;
  color: $colPrimary-Black;
  @include displayTablet{
    font-size: 2.0625rem;
    line-height: 2.75rem;
  }
  @include displayDesktop{
    font-size: 2.0625rem;
    line-height: 2.75rem;
  }
}

.font-Header {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: "Avenir";
  font-weight: 700;
  //color:blue;
  color: $colPrimary-Black;
  @include displayTablet{
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
  @include displayDesktop{
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}

.font-Subheader {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: "Avenir";
  font-weight: 700;
  color: $colPrimary-Black;
  //color: orange;
  @include displayTablet{
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  @include displayDesktop{
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.font-WidgetTitle {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: "Avenir";
  font-weight: 600;
  color: $colPrimary-Black;
  //color: red;
  @include displayTablet{
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  @include displayDesktop{
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.font-Body {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: "Avenir";
  font-weight: 400;
  color: $colPrimary-Black;
  //color: green;
  @include displayTablet{
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  @include displayDesktop{
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.font-Label {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: "Avenir";
  font-weight: 600;
  color: $colPrimary-Black;
  @include displayTablet{
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
  @include displayDesktop{
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}

.font-Button {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: "Avenir";
  font-weight: 600;
  color: $colPrimary-White;
  @include displayTablet{
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
  @include displayDesktop{
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}

.font-Faded {
  color: $colPrimary-Silver;
}
