@use 'colors' as *;
@use "anims" as *;

body{
    margin: 0px;
    padding: 0px;
}

html{
    margin: 0px;
    padding: 0px;
    animation: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

hr{
    border: 1px solid $colSecondary-Mercury;
}

*{
    box-sizing: border-box;
}