//display breakpoints
$breakpoint-desktop-s: 1280px;
$breakpoint-tablet-s: 768px;
$breakpoint-tablet-e: 1279px;
$breakpoint-mobile-s: 0px;
$breakpoint-mobile-e: 767px;


$pad-mobile: 16px;
$gut-mobile: 16px;
$pad-before-mobile: 24px;
$pad-after-mobile: 16px;
$pad-between-mobile: 16px;


$pad-tablet: 24px;