@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/functions" as *;

.Navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: $pad-3;
  row-gap: $pad-3;
  column-gap: $pad-3;
  &__logo {
    background-color: none;
    text-align: center;
    width: 100%;
    @include displayTablet {
      width: auto;
      margin-right: auto;
      margin-left: $pad-5;
    }
    @include displayDesktop {
      width: auto;
      margin-right: auto;
      margin-left: 110px;
    }
  }
  &__search {
    flex-grow: 1;
    @include displayTablet {
      flex-grow: 1;
      max-width: 225px;
    }
    @include displayDesktop {
      flex-grow: 1;
      max-width: 225px;
      margin-right: $pad-2;
    }
  }
  &__avatar {
    background-color: none;
    @include displayTablet{
      margin-right: $pad-3;
    }
    @include displayDesktop{
      margin-right: 130px;
    }
  }
  &__upload {
    width: 100%;
    order: 9;
    @include displayTablet {
      width: auto;
      margin-right: $pad-2;
      order: unset;
    }
    @include displayDesktop {
      width: auto;
      margin-right: $pad-5;
      order: unset;
    }
  }
}