@use "../styles/partials/mixins" as *;
@use "../styles/partials/functions" as *;


.UploadPage {
  text-align: center;
  margin: auto;

  @include displayDesktop {
    background-color: none;
    max-width: toRem(1280);
  }
  &__mainContent{
    background-color: none;
    margin-top: 0px;
  }
}
