@use "../../styles/partials/variables" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/anims" as *;

.CommentsCard {
  @include revealing-animation-slideupOnly;
  display: flex;
  gap: $pad-3;
  margin-left: $pad-3;
  margin-right: $pad-3;
  padding-top: $pad-2;
  @include displayTablet {
    padding-top: $pad-3;
  }
  @include displayDesktop {
    padding-top: $pad-3;
  }
  &__avatar {
    background-color: none;
  }
  &__output {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: none;
    &__header {
      display: flex;
      justify-content: space-between;
      &__name {
        padding: 0px;
        margin: 0px;
      }
      &__date {
        padding: 0px;
        margin: 0px;
      }
    }
    &__comment {
      background-color: none;
      text-align: left;
    }
  }
}
