@use "../styles/partials/variables" as *;
@use "../styles/partials/colors" as *;
@use "../styles/partials/mixins" as *;

.CommentsInput {
  margin-left: $pad-3;
  margin-right: $pad-3;
  display: flex;
  background-color: none;
  gap: $pad-3;
  &__avatar {
    background-color: none;
    align-self: center;
  }
  &__right {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: none;
    @include displayTablet {
      flex-direction: row;
      gap: $pad-4;
    }
    @include displayDesktop {
      flex-direction: row;
      gap: $pad-4;
    }
    &__container {
      background-color: none;
      flex-grow: 1;
      text-align: left;
      &__title {
        padding: 0px;
        margin: 0px;
        background-color: none;
      }
      &__textbox {
        background-color: $colSecondary-Albaster;
        border-radius: 4px;
        border-width: 1px;
        border-color: $colSecondary-Mercury;
        height: 100px;
        width: 100%;
        padding: $pad-2;
        @include displayTablet {
          height: 40px;
        }
        @include displayDesktop {
          height: 40px;
        }
      }
    }
    &__button {
      margin-top: $pad-3;
      margin-bottom: $pad-3;
      flex-grow: 1;
      @include displayTablet {
        flex-grow: 0;
        margin-top: $pad-4;
        margin-left: $pad-4;
        min-width: 150px;
      }
      @include displayDesktop {
        flex-grow: 0;
        margin-top: $pad-4;
        margin-left: $pad-4;
        min-width: 150px;
      }
    }
  }
}
