@use '../styles/partials/colors' as *;
@use '../styles/partials/variables' as *;
@use '../styles/partials/mixins' as *;

.SearchBox{
    background-color: $colSecondary-Albaster;
    border-radius: 4px;
    border-width: 1px;
    border-color: $colSecondary-Mercury;
    height:36px;
    width:100%;
    padding-left: $pad-6;
    background-image: url('../assets/Icons/search.svg');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    @include displayTablet{
        height: 40px;
        padding-left: $pad-6;
    }
    @include displayDesktop{
        height: 40px;
        padding-left: $pad-6;
    }
}