@use '../styles/partials/variables' as *;

.VideoTitle{
    text-align: left;
    margin: 0px;
    padding-left: $pad-mobile;
    padding-right: $pad-mobile;
    padding-top: $pad-before-mobile;
    padding-bottom: $pad-after-mobile;
}