@use "../../styles/partials/colors" as *;
@use "../../styles/partials/functions" as *;

.Avatar {
  overflow: hidden;
  border-radius: 50%;
  width: toRem(36);
  height: toRem(36);
  background-color: $colPrimary-Silver;
  &__img {
    margin: 0 auto;
    margin-left: -15%;
    height: 100%;
    width: auto;
  }
}
